@import './../../assets/variables'; 

.card {
    width: auto;
    min-width: 14rem;
    border-radius: 6px;
    height: 20rem;
    padding: 20px;
    color: white;
    background-color: $primary-color;
    border: 1px solid $orange-color;
    text-align: center;
    text-decoration: none;
    :hover {
        opacity: 0.7;
    }
}
