
@import './../../assets/variables';

// Estilos para la tabla
.table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
  overflow-x: auto;
  max-width: 100%;
  display: block;
  th, td {  
    border: 1px solid $border-color;
    padding: 12px 15px;
  }

  th {
    background-color: $secondary-color;
  }

  tr {
    &:nth-child(even) {
      background-color: #413d3d;
    }
  }
}